*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", serif;
}

.img-logo {
  width: 165px;
}

.navbar-sticky {
  background: red;  
  font-size: 17px;
  font-weight: 900;
}

.lg-navbar {
  max-width: 1320px !important;
  margin-bottom: 3em;
}

.subscribe {
  background: white;
  color: red;
  font-size: 900;
}

.sign-in {
  margin-right: 1em;
  color: white;
  font-size: 900;
}

.nav-logo {
  width: 30em;
}

.subscribe:hover {
  text-decoration: none;
  color: red;
}

.sign-in:hover {
  color: white;
}

.link {  
  position: absolute;
  top: 6.5em;
  background: white;
  border-bottom: 1px solid grey;  
}

.nav-link {
  border-right: 1px solid grey;
  color: black;
  font-weight: 900;  
}

/* .navbar-sticky {
  position: sticky;
}

.nav {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}













.nav-anchor-class a:hover {
  text-decoration: none;
}





/* .search-box {
  position: absolute;
  right: 1px;
  width: 65px;
  border: none;
  background: white; */




